*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', Sans-serif;
}

body{
    background: #E8C966;
    font-family: 'Lora', serif;
    font-size: 16px;
}

.container{
    width: 100%;
}

/*--NAVBAR--*/

#navbar{
    width: 100%;
    height: 125px;
    background: rgba(0,0,0,0.4);
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-transform: uppercase;
    overflow: hidden;
}
#brand{
    display: none;
}
#menu{
    font-size: 1.3em;
    float: right; 
    text-align: center;
    justify-content: space-around;
    padding: auto;
    margin-right: 5%;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#menu ul li{
    float: left;
}
#menu li a{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 45px 15px; 
}

#menu a:hover {
    background-color: #E8C966;
    color: #000;
}
/*--NAVBAR END--*/

/*--Images And SIGN IN/UP--*/
#first{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../images/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10px;  
    transition: 5s;
    animation-name: animate;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite ;
    animation-play-state: running ;
    animation-timing-function: ease-in-out ;
}

@keyframes animate{
    25%{background-image: url(../images/img1.jpg);}
    50%{background-image: url(../images/img2.jpg);}
    75%{background-image: url(../images/img3.jpg);}
    100%{background-image: url(../images/img4.jpg);}
    
}

main{
    width: 100%;
    margin-top: 10vh;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

main h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

main h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

main a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}

main .btn{
    background: rgba(0,0,0,0.5);
    color: #fff;
}
.btn:hover{
    background: #ffbf00;
    color: #000;
}

/*--IMAGE AND SIGN IN/UP END--*/

/*---Offers Cards---*/
.headline {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    text-shadow: 1px 2px;
    background: rgba(255,191,0,0.3);

}

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cards {
    height: 350px;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    background-color: rgba(255,191,0,0.3);
    transition: .5s;
}
.cards .card-img {
    width: 100%;
    height: 175px;
    border-radius: 10px 10px 0 0;
}
      
      /*Card Images*/
.cards-container div:nth-child(1) .card-img{
    background: url(../images/jaipur.jpg) no-repeat;
    background-size: 100% 100%;
}
.cards-container div:nth-child(2) .card-img{
    background: url(../images/jodhpur.jpg) no-repeat;
    background-size: 100% 100%;
}
.cards-container div:nth-child(3) .card-img{
    background: url(../images/udaipur.jpg) no-repeat;
    background-size: 100% 100%;
}
.cards-container div:nth-child(4) .card-img{
    background: url(../images/bikaner.jpg) no-repeat;
    background-size: 100% 100%;
}
.cards-container div:nth-child(5) .card-img{
    background: url(../images/marwar.jpg) no-repeat;
    background-size: 100% 100%;
}
.cards-container div:nth-child(6) .card-img{
    background: url(../images/mewar.jpg) no-repeat;
    background-size: 100% 100%;
}
.cards-container div:nth-child(7) .card-img{
    background: url(../images/ranthambore.jpg) no-repeat;
    background-size: 100% 100%;
}
.cards-container div:nth-child(8) .card-img{
    background: url(../images/shekhawati.jpg) no-repeat;
    background-size: 100% 100%;
}
      /*Card Images End*/

.cards .card-img div{
    border-radius: 10px 10px 0 0;
    padding-top: 5px;
    text-transform: uppercase;
    color: #402707;
    background: rgba(255,191,0,0.3);
}
.cards .content {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    height: 130px;
    overflow: hidden;
}
.cards .price-tag {
    height: 45px;
    padding-top: 15px;
    background-color: #00e6ac;
    border-radius:0 0 10px 10px;
}
.cards .price-tag span{
    font-size: 1.3em;
}
.cards:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
    cursor: default;
}
.cards a{
    text-decoration: none;
    color: #000;

}

/*---Offers Cards End---*/







/*---FOOTER---*/
.footer{
    background: #303036;
    color: #d3d3d3;
    height: 300px;
    position: relative;
    }
.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
.footer .footer-content{
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.footer-content hr{
    display: none;
}

.footer-content .footer-section{
    flex: 1;
    padding: 20px 20px 20px 20px;

}

.footer-content #address h3{
    margin-bottom: 10px;
}
.footer-content #address ul{
    list-style-type: none;
    display: flex;
    margin: 30px 5px 5px 0;
}
#address ul li{
    flex: 25%;
}

.footer-content #links ul{
    list-style-type: none;
    margin-top: 10px; 
}
.footer-content #links a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
}
.footer-content #links a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer-content #contact{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    width: 30%;
}
.footer-content #contact .contact-input{
    background: #faf9f9;
    color: #333333;
    width: 100%;
    margin-bottom: 10px;
    line-height: 1.5em;
    padding: .9rem 1.4rem;
    border: none;
}
.footer-content #contact .contact-btn{
    float: right;
    padding: 5px;
}
.footer-content #contact h3{
    font-size: 1.4em;
}
    /*--Phone--*/
.footer-content #phone{
    display: none;
}
    /*--Phone End--*/

/*---FOOTER END---*/







/*---MEDIA QUERIES---*/

/*---Extra Large Devices---*/
@media (min-width: 1200px){
    /*--Navbar--*/
    #logo{
        background: url(../images/logo-large.jpg) no-repeat;
        width: 115px;
        height: 120px;
        margin: 10px 15px 0px 20px;
    }
    #navbar > a{
        float: left;
    }
    #navbar > #brand {
        float: left;
    }
    /*--Navbar End--*/

    /*---Offers Cards---*/
    .cards {
        width: 20%;
        flex: 1fr 1fr 1fr 1fr;
    }
    /*---Offers Cards End---*/


}

/*---Large Devices---*/
@media (min-width: 992px) and (max-width: 1199px){
    /*--Navbar--*/
    #logo{
        background: url(../images/logo-large.jpg) no-repeat;
        width: 115px;
        height: 120px;
        margin: 10px 15px 0px 20px;
    }

    #navbar > a{
        float: left;
    }
    #navbar > #brand {
        float: left;
    }
    /*--Navbar End--*/

    /*---Offers Cards---*/
    .cards {
        width: 20%;
        flex: 1fr 1fr 1fr 1fr;
    }
    /*---Offers Cards End---*/

}

/*---Medium Devices---*/
@media (min-width: 748px) and (max-width: 991px){
    /*--Navbar--*/
    #navbar {
        height: 100px;
    }
    #logo{
        background: url(../images/logo-med.jpg) no-repeat;
        width: 80px;
        height: 80px;
        margin: 10px 15px 0px 20px;
    }
    /*--Navbar End--*/

    /*---Offers Cards---*/
    .cards {
        width: 40%;
        flex: 1fr 1fr;
    }
    /*---Offers Cards End---*/

}

/*---Small Devices---*/
@media (min-width: 576px) and (max-width: 747px){
    /*--Navbar--*/
    #navbar {
        height: 15vw;
    }
    #navbar a{
        text-decoration: none;
    }
    #brand{
        display: block;
        font-family: 'Dancing Script', cursive;
        color: #E8C966;
        font-weight: bold;
        font-size: 2em;
        text-transform: none;
        margin-left: 10px;
    }
    #menu{
        float: none;
        font-size: 1em;
    }
    /*--Navbar End--*/

    /*---Offers Cards---*/
    .cards {
        width: 40%;
        flex: 1fr 1fr;
    }
    /*---Offers Cards End---*/



    /*--Footer--*/
    .footer{
        height: 550px;
    }
    .footer .footer-content #address{
        flex: 50%;
    }
    .footer .footer-content #links{
        flex: 50%;
    }
    .footer .footer-content #contact{
        flex: 100%;
    }
    /*--Footer End--*/

}
/*---Extra Small Devices*/
@media (max-width: 575px){
    /*--Navbar--*/
    #navbar {
        height: 15vw;
        align-content: center;
    }
    #menu{
        float: none;
        font-size: 3vw;
        margin: auto;
    }
    #menu li a{
        padding: 6vw 10px;
    }

    #first{
        height: 60vh;
    }
    main {
        margin-top: 15vh;
    }
    main h3{
        font-size: 18px;
    }
    main h1{
        font-size: 26px;
        margin: 15px 0 25px 0;
    }
    main a {
        font-size: 10px;
        padding: 8px 20px;
    }
    /*--Navbar End--*/
    
    /*---Offers Cards---*/
    .cards {
        width: 70%;
        flex: 1fr;
    }
    /*---Offers Cards End---*/

    /*--Footer--*/
    .footer{
        height: 600px;
        text-align: center;
    }
    .footer .footer-content hr{
        display: block;
        width: 70%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 15%;
        margin-left: 15%;
    }
    .footer .footer-content .footer-section{
        flex: 100%;
        margin-top: 10px;
    }
    .footer-content #address ul{
        display: flex;
    }
    .footer-content #address ul li{
        flex: 25%;
    }
    .footer-content #contact{
        display: none;
    }
        /*--Phone--*/
    .footer-content a{
        text-decoration: none;
        flex: 100%;
    }
    .footer-content a #phone{
        display: block;
        align-content: center;
        color: black;
        margin: 20px 10%;
        padding: 5px;
        border: 1px solid black;
        background-color: #E8C966;
        border-radius: 3px;
        box-shadow: 0 1px black;
    }
    .footer-content a #phone span{
        font-size: .7em;
    }
        /*--Phone End--*/
    /*--Footer End--*/

}